Package: hello
Version: 1.0
Architecture: arm64
Maintainer: Example <example@example.com>
Description: A program that greets you.
 You can add a longer description here. Mind the space at the beginning of this paragraph.